@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flex-div {
    display: flex;
    align-items: center;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar p{
    display: none;
}
.small-sidebar img{
    width: 25px;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar .subscribed-list{
    margin-top: 15px;
}
.feed{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-column-gap: 16px ;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.container{
    background-color: #f9f9f9;
    padding-left: 17%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.large-container{
    padding-left: 7%;
}
